<!DOCTYPE html>
<html>
<head>
	<meta name="Content-Type" content="text/html; charset=utf-8;"
  <title>Complete Home Maintenance</title>
  <meta name="description" content="Complete Home Maintenance specializes in helping you care for your home. We provide services for your home's exterior and interior." />
  <meta name="robots" content="index,follow"
	<meta name="google-site-verification" content="8FRzoqiiUp1QWMSuuFuejslIe_3071QrQ7-dLPxu4go" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/google_analytics' %>

	<%= javascript_tag do %>
		$(document).ready(function() {
			var currentUrl = $(location).attr('href');
			if(currentUrl.match(/projects/)) {
				$('#projects').addClass("selected");
			} else if(currentUrl.match(/testimonials/)) {
				$('#testimonials').addClass("selected");
			} else if(currentUrl.match(/contact/)) {
				$('#contact').addClass("selected");
			}	else if(currentUrl.match(/\//)) {
				$('#home').addClass("selected");
			}
		})
	<% end %>
</head>
<body>
	<div id="container">
		<%= render 'layouts/header' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>
